<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="rol === 1">Mis Cursos</ion-title>
    <ion-title *ngIf="rol === 0">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Ajusta la estructura para asegurar que el contenido esté alineado -->
<ion-content class="ion-padding cursos-contenido">
  <ion-searchbar (ionInput)="onSearch($event)"  [(ngModel)]="buscador1" animated="true" placeholder="Buscar"></ion-searchbar>

  <div *ngIf="resultado1 === null && buscador1">
    <p>No existe ningún curso con el nombre {{buscador1}}.</p>
  </div>

  <div *ngFor="let x of arregloCurso">
   <!-- Condición: Si es tutor, mostrar solo sus cursos; si es aprendiz, mostrar todos los cursos -->
    <div *ngIf="!buscador1 || buscador1.trim() === '' || tituloEncontrado == x.nombre_curso">
      <ion-card class="fondo" *ngIf="rol === 0 || (rol === 1 && id === x.usuario_id_usuario)">
        <img class="imagen" (click)="ir(x.id_curso, x)" alt="lenguaje" [src]="x.foto_curso || '/assets/icon/pato.jpg'" />
        <ion-card-header (click)="ir(x.id_curso, x)">
          <ion-card-title class="texto">{{x.nombre_curso}}</ion-card-title>
          <div *ngFor="let y of arregloUsuario">
            <ion-card-subtitle *ngIf="x.usuario_id_usuario === y.id_usuario">{{y.nombre_usuario}}</ion-card-subtitle>
          </div>
        </ion-card-header>
  
        <div *ngIf="rol === 1 && id === x.usuario_id_usuario">
          <div class="unir2">
            <ion-button class="boton" (click)="eliminar(x)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button class="boton" (click)="modificar(x)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-card>
    </div>
   
    
  </div>

  <!-- Agregar un espaciador para mantener la posición -->
  <div *ngIf="arregloCurso.length === 0" class="espaciador"></div>
</ion-content>

<app-footer-tutor></app-footer-tutor>
