<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Materia : Lenguaje</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Necesito ayuda con mi tarea de Lenguaje</ion-card-title>
      <br>
      <h4>Materia : Lenguaje</h4>
    </ion-card-header>
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xQaEm7uPLHU_0iDfYn9Hp2rxx76FmuQbRJ6IHLyqM35oULUHfabYEDi5YHkak2i5uq4&usqp=CAU" alt="">
    </div>
    
    <ion-card-content>
      Este es un breve texto de descripción para el contenido de la publicación.
    Aquí puedes detallar más información.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Necesito ayuda con mi tarea de Lenguaje</ion-card-title>
      <br>
      <h4>Materia : Lenguaje</h4>
    </ion-card-header>
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xQaEm7uPLHU_0iDfYn9Hp2rxx76FmuQbRJ6IHLyqM35oULUHfabYEDi5YHkak2i5uq4&usqp=CAU" alt="">
    </div>
    
    <ion-card-content>
      Este es un breve texto de descripción para el contenido de la publicación.
    Aquí puedes detallar más información.
    </ion-card-content>
  </ion-card>
</ion-content>
