<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Materia : Lenguaje</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar></ion-searchbar>

  <ion-card class="container">
    <ion-card-header>
      
      <div class="unir">
        <img class="maria" src="/assets/icon/mauricio.jpg" alt="mauricio" >
        <p class="nombre">Mauricio Carter</p>
        <p class="materia">Lenguaje</p>
      </div>
      <hr>
    </ion-card-header>
    <ion-card-title class="texto">Necesito ayuda con un informe</ion-card-title>
    <div class="centrar">
      <img class="tarea" src="/assets/icon/informe.jpg" alt="informe">
    </div>
    <hr>
    
    <ion-card-content class="descripcion">
      Debo realizar un informe, pero no entiendo como debe ir estructurado o las normas, 
      si alguien conoce del tema, me puede me ayudaria mucho que me guiara, adjunte como imagen el
      avance que llevo hasta el momento.
    </ion-card-content>
  </ion-card>


  <ion-card class="container">
    <ion-card-header>
      
      <div class="unir">
        <img class="maria" src="/assets/icon/sebastian.webp" alt="sebastian" >
        <p class="nombre">Sebastian Hortencia</p>
        <p class="materia">Lenguaje</p>
      </div>
      <hr>
    </ion-card-header>
    <ion-card-title class="texto">Debo presentar</ion-card-title>
    <br>
    <hr>
    
    <ion-card-content class="descripcion">
      Necesito ayuda para saber presentar correctamente, no se como debo hacerlo,
      como moverme, hablar, entre otras cosas, agradeceria mucho que me ayudaran con esto.
    </ion-card-content>
  </ion-card>


