// .center-div {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//   }

.p{
    color: #550c0c;
    justify-content: baseline;
}

.flecha{
    background: rgba(238, 225, 215, 1);
}

.container{
    border-radius: 0%;
    border: 0rem #000000 solid;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

ion-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --background: rgba(182, 149, 192, 1);
}

ion-item{
    --background:rgba(182, 149, 192, 1);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
}

.texto{
    color: #dddddd;
    font-family: "Segoe UI";
}

.titulo{

    color: #ffffff;
    font-size: 0.6cm;
    font-family: "impact";
    text-align: center;
    align-items: center;
    height: 4rem;

}

.boton{

    --background: #ffffff;
    color: rgba(182, 149, 192, 1);
    font-family: "impact";
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    margin-bottom: 7%;

}

.texto-con{
    color: rgb(0, 0, 0);
    font-size: small;
    text-decoration: none;
    font-family: "Segoe UI";
    font-weight: bold;
}

.texto-sin{
    color: #ffffff;
    text-align: center;
    font-size: small;
    height: 0.1cm;
    font-family: "Segoe UI";
}
  
.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

}

.alerta{
    display: flex;
}

