<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <div *ngFor="let x of arregloPublicacion">
      <div *ngIf="x.id_publi === id_pub">
        <div class="container6"> 
          <div *ngFor="let y of arregloUsuario"><!---->
            <div *ngIf="id_usu === y.id_usuario">
              <ion-item class="fondo unir" lines="none"> <!---->
                <img class="imagen" [src]=" y.foto || 'assets/icon/pato.jpg'" alt="No tiene foto">
                <p class="nombre">{{y.nombre_usuario}}</p>
              </ion-item>
      
              <hr class="hr">
              <ion-note slot="end" class="small-text right-space">{{ x.fecha_publi }}</ion-note>
      
              <ion-card-title class="texto">{{x.titulo_publi}}</ion-card-title>
      
              <div class="centrar1">
                <img class="tarea" [src]="x.foto_publi" alt="No tiene foto">
              </div>
      
              <hr class="hr">
      
              <ion-card-content class="descripcion">
                <ion-note position="stacked">Descripción:</ion-note>
                <p>
                  {{x.descripcion_publi}}
                </p>
              </ion-card-content>
            </div>
            
          </div>

        </div>
      </div>
      <hr class="hr">
      <div class="container3">
        <div class="unir color" (click)="irPagina()">
          <img class="imagen" src="/assets/icon/maria.webp" alt="maria">
          <p class="nombre1">Melanie Ortiz</p>
          <hr>
        </div>
        <p class="texto5">Para hacer eso es super facil debes realizar sumas</p>
      </div>
      <div class="centrar">
        <input class="escribir" type="text" placeholder="Escribir">
      </div>

      </div>
      
  </div>
</ion-content>