<ion-footer class="footer">
  <ion-tab-bar slot="bottom" class="footer">
    <ion-tab-button id="menu" tab="home" [routerLink]="'/menu'">
      <ion-icon color="dark" name="home"></ion-icon>
      <!--<ion-label color="logo">Publicación</ion-label>-->
    </ion-tab-button>

    <ion-tab-button id="asignaturas" tab="ramos" [routerLink]="'/asignaturas'">
      <ion-icon color="dark" name="library"></ion-icon>
      <!--<ion-label class="logo">Ramos</ion-label>-->
    </ion-tab-button>

    <ion-tab-button id="publicar" tab="publicar" [routerLink]="'/publicar'">
      <ion-icon color="dark" name="add-circle-sharp"></ion-icon>
      <ion-label class="logo"></ion-label>
    </ion-tab-button>

    <ion-tab-button id="tutores" tab="tutores" [routerLink]="'/tutores'"> <!--*ngIf="tipo==='Tutor'"-->
      <ion-icon  color="dark" name="body-sharp"></ion-icon>
      <!--<ion-label  class="logo">Tutores</ion-label>-->
    </ion-tab-button>

    <ion-tab-button id="perfil" tab="perfil" [routerLink]="'/perfil'">
      <ion-icon  color="dark" name="person-sharp"></ion-icon>
      <!--<ion-label class="logo">Perfil</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
