<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Primera publicación-->
<ion-content class="ion-padding" fullscreen>
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>

  <!--<div class="botones">
    <ion-button id="Aprendices" class="boton" (click)="mostrarCard('Aprendices')">Aprendices</ion-button>
    <ion-button id="Amigos" class="boton" (click)="mostrarCard('Amigos')">Cursos</ion-button>
  </div>-->


  <div>
    <h1 class="titulo">Aprendices</h1>

    <ion-card class="container">
      <div  *ngFor="let x of arregloPublicacion">
        <ion-card-header *ngFor="let y of arregloUsuario">
          <div *ngIf="x.usuario_id_usuario === y.id_usuario">
            <div class="unir" (click)="irPerfil()">
              <img class="maria" [src]="y.foto || '/assets/icon/maria.webp'" alt="maria">
              <p class="nombre">{{y.nombre_usuario}}</p>
            </div>
            <hr>
          </div>
        </ion-card-header>
        <ion-card-title class="texto">{{ x.titulo_publi }}</ion-card-title>
        <div class="centrarB">
          <ion-button class="verMas" (click)="irPagina(x.usuario_id_usuario, x.id_publi)">Ver más</ion-button>
        </div>
      </div>
      

    </ion-card>

  </div>


</ion-content>

<app-footer-tutor></app-footer-tutor>