<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="center-div">
    <form (ngSubmit)="onSubmit()" class="form-container">
      <ion-title class="black-title ion-margin-bottom">Cambiar Contraseña</ion-title>

      <ion-item lines="full">
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="correo" type="email" name="correo" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Contraseña Nueva</ion-label>
        <ion-input [(ngModel)]="nueva" type="password" name="nueva" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input  [(ngModel)]="repetirNueva" type="password" name="repetirNueva" required></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" class="ion-margin-top" >Cambiar Contraseña</ion-button>
    </form>
  </div>
</ion-content>
