.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

}

.footer{
    --background:rgba(182, 149, 192, 1);
    border-top: .5px #000000 solid;
}

.img-amigos{
    width: 30px;
    height: 30px;
}
