<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      
      <img src="assets/icon/amigos.png" alt="amigos" class="img-amigos" [routerLink]="'/amigos'">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  


<!--Primera publicación-->
<ion-content class="ion-padding" fullscreen>
  <ion-searchbar></ion-searchbar>
  
  <!-- Puedes añadir más contenido aquí para que el contenido llene la pantalla -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Necesito ayuda con mi tarea de nivelación de matematicas {{tipo}}</ion-card-title>
      <br>
      <h4>Materia : Matematicas</h4>
    </ion-card-header>
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3xQaEm7uPLHU_0iDfYn9Hp2rxx76FmuQbRJ6IHLyqM35oULUHfabYEDi5YHkak2i5uq4&usqp=CAU" alt="">
    </div>
    
    <ion-card-content>
      Este es un breve texto de descripción para el contenido de la publicación.
    Aquí puedes detallar más información.
    </ion-card-content>
  </ion-card>

<!--Segunda publicación-->

  <!-- Puedes añadir más contenido aquí para que el contenido llene la pantalla -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tengo que estudiar ingles pero no se muy bien, ¿ Alguien que quiera estudiar conmigo?</ion-card-title>
      <h4>Materia : Ingles</h4>
    </ion-card-header>
    <div>
      <img src="https://i.pinimg.com/236x/fc/7e/6b/fc7e6b0454ecde69df10198f6cee7616.jpg" alt="">
    </div>
    
    <ion-card-content>
      Este es un breve texto de descripción para el contenido de la publicación.
    Aquí puedes detallar más información.
    </ion-card-content>
  </ion-card>

</ion-content>

<app-footer></app-footer>  


