<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Nosotros </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>¿Qué es la app y para qué sirve?</h1>

  <p>
    Comparte tus conocimientos y aprende junto a estudiantes de todas las
    carreras en Duoc UC. No importa cuál sea tu especialidad, aquí puedes
    contribuir y beneficiarte de la sabiduría colectiva de nuestra comunidad
    académica. ¡Juntos, hacemos que el aprendizaje sea más enriquecedor y
    accesible para todos!
  </p>

  <h2>Nuestro Propósito</h2>
  <p>
    Nuestro objetivo es unir a todos los estudiantes para facilitar el
    apoyo mutuo en sus estudios. Creemos que el aprendizaje es más efectivo
    cuando se realiza en comunidad, por lo que hemos creado una plataforma donde
    los estudiantes pueden conectarse, colaborar y ayudarse unos a otros. Aquí,
    puedes encontrar y ofrecer ayuda en tareas, asignaturas y proyectos,
    compartir recursos y consejos, y formar parte de una red de apoyo que
    fomenta el éxito académico y personal. Juntos, logramos más.
  </p>
  <p>
    ¡Únete a
    nosotros y sé parte de esta comunidad que transforma el aprendizaje en una
    experiencia compartida y exitosa!
  </p>
</ion-content>


<ion-footer class="footer">
  <ion-tab-bar slot="bottom" class="footer">
    <ion-tab-button tab="home">
      <ion-icon color="dark" name="home" [routerLink]="'/menu'"></ion-icon>
      <ion-label color="logo">Publicación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ramos" [routerLink]="'/asignaturas'">
      <ion-icon color="dark" name="library"></ion-icon>
      <ion-label class="logo">ramos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asignaturas" [routerLink]="'/buscar'">
      <ion-icon color="dark" name="add-circle-sharp"></ion-icon>
      <ion-label class="logo">publicar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tutores" [routerLink]="'/perfil'">
      <ion-icon  color="dark" name="body-sharp"></ion-icon>
      <ion-label  class="logo">Tutores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="'/perfil'">
      <ion-icon  color="dark" name="person-sharp"></ion-icon>
      <ion-label class="logo">perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>