<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <!-- Imagen de perfil -->
    <div class="centrar">
      <img class="imagen" src="assets/icon/pato.jpg" alt="Perfil">
    </div>

    <!-- Nombre de usuario -->
    <h2 class="nombre">{{nombre}} ({{tip}})</h2>

    <!-- Información de contacto -->
    <ion-list>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input [(ngModel)]="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        
        <ion-input type="number" name="number" label="+56 " [(ngModel)]="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Carrera: " [(ngModel)]="carrera"></ion-input>
      </ion-item>

    </ion-list>
    <ion-item>
      <p>Cambiar foto: <ion-button>Elegir</ion-button></p>
      <ion-img class="btn"></ion-img>
    </ion-item>

    <ion-item>
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-textarea [(ngModel)]="descripcion" name="descripcion"></ion-textarea>
    </ion-item>


    <ion-button expand="block" id="editar-perfil" color="danger">Realizar cambios</ion-button>
    <ion-alert trigger="editar-perfil" class="custom-alert" header="¿Estás seguro de realizar cambios?"
      [buttons]="alertButtons"></ion-alert>
    <!--[buttons]="alertButtons"-->



  </div>
</ion-content>