<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">
    <!-- Imagen de perfil -->
    <div class="centrar">
      <!-- Si hay foto, muestra la nueva foto que se tomo en la camara o la eligio de la galeria -->
      <img *ngIf="hasPhoto" class="imagen" [src]="photoUrl" alt="Perfil">

      <!-- Si no hay foto, muestra la imagen por del pato  -->
      <img *ngIf="!hasPhoto" class="imagen" src="assets/icon/pato.jpg" alt="Perfil">


    </div>
    <!--<img class="imagen" [src]="photoUrl" alt="Perfil">-->
    <!-- Nombre de usuario -->
    <h2 class="nombre"></h2>

    <!-- Información de contacto -->
    <ion-list>
      <ion-item>
        <ion-icon name="person" style="font-size: 24px; color: rgba(182, 149, 192, 1)"></ion-icon>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>

        <ion-input type="number" name="number" label="+56 " ></ion-input>
      </ion-item>

    </ion-list>
    <ion-item>
      <ion-icon name="image"></ion-icon>
      <p>&nbsp;&nbsp;&nbsp;</p><ion-button class="boton" shape="round" (click)="presentActionSheet()">Agregar
        imagen</ion-button>
      <!--<p> Agregar Foto o Video</p>-->
    </ion-item>

    <ion-item class="descripcion-item">

      <ion-label position="stacked">Descripción</ion-label>

      <ion-textarea class="tam" maxLength="250" name="descripcion"
        placeholder="Escribe una breve descripción..." autoGrow="true">
      </ion-textarea>

      <ion-note class="contador-caracteres">{{250 - perfil.descripcion.length}} caracteres restantes</ion-note>
    </ion-item>

    <h1>IMAGEN1</h1>
    <img src="{{this.imagen}}" alt="" srcset="">

    <ion-button expand="block" id="editar-perfil" class="boton">Realizar cambios</ion-button>

    <ion-button color="primary" (click)="VerDatos()">ver datos</ion-button>
    
    <ion-alert trigger="editar-perfil" class="custom-alert" header="¿Estás seguro de realizar cambios?"
      [buttons]="alertButtons"></ion-alert>
    <!--[buttons]="alertButtons"-->

    <ion-button class="boton" id="volver" routerLink="/editar-perfil">Volver</ion-button>
    <ion-alert trigger="volver" class="custom-alert" header="¿Quieres volver a perfil?"
      [buttons]="alertButtonsBack"></ion-alert>
    <!--[buttons]="alertButtons"-->



  </div>
</ion-content>