<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  <ion-card class="fondo" [routerLink]="[('/menu-asignatura')]">
    <img class="imagen" alt="lenguaje" src="/assets/icon/lenguaje.jpg"/>
    <ion-card-header>
      <ion-card-title class="texto">Lenguaje</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen" alt="matematicas" src="/assets/icon/matematicas.webp"/>
    <ion-card-header>
      <ion-card-title class="texto">Matematicas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen" alt="Python" src="/assets/icon/python.jpg"/>
    <ion-card-header>
      <ion-card-title class="texto">Python</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen2" alt="Java" src="/assets/icon/java.jpeg"/>
    <ion-card-header>
      <ion-card-title class="texto">Java</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen2" alt="otro" src="/assets/icon/otros1.webp"/>
    <ion-card-header> 
      <ion-card-title class="texto">Otro</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>

<app-footer></app-footer>