<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngFor="let x of arregloUsuario">
      <ion-title *ngIf="id === x.id_usuario || id_usu === x.id_usuario || id_usua === x.id_usuario">Perfil de {{x.nombre_usuario}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let x of arregloUsuario">
    <ion-card class="card centrar" *ngIf="id === x.id_usuario || id_usu === x.id_usuario || id_usua === x.id_usuario">
      <!-- Imagen de perfil -->
      <div class="centrar">
        <img class="imagen" [src]="x.foto || '/assets/icon/pato.jpg'" alt="Perfil">


        <!-- Nombre de usuario -->
        <h2 class="nombre" *ngIf="x.rol_id_rol === 0">{{x.nombre_usuario}} (Aprendiz)<!--({{tipos}})--></h2>
        <h2 class="nombre" *ngIf="x.rol_id_rol === 1">{{x.nombre_usuario}} (Tutor)<!--({{tipos}})--></h2>
      </div>


      <!-- Información de contacto -->
      <div class="fondo">
        <ion-item class="fondo">
          <ion-icon style="font-size: 24px; color: rgba(182, 149, 192, 1)" name="mail" slot="start"></ion-icon>
          <ion-label class="fondo">{{x.correo_usuario}}</ion-label>
        </ion-item>

        <ion-item class="fondo">
          <ion-icon style="font-size: 24px; color: rgba(182, 149, 192, 1)" name="call" slot="start"></ion-icon>
          <ion-label class="fondo">+56{{x.telefono_usuario}}</ion-label>
        </ion-item>

        <ion-item class="fondo">
          <ion-label class="fondo">
            Descripción :
          </ion-label>

          <ion-label class="texto tam">
            {{x.descripcion}}
          </ion-label>
        </ion-item>

        <!--<ion-item>
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Soy estudiante de tercer año, estudio ingenieria en informatica, me gusta el deporte y ver animes, me especializo en programación web y bases de datos.</ion-label>
          </ion-item>-->
      </div>

      <!-- Botones de acción -->
      <!--<ion-button expand="block" color="primary" (click)="presentToast('top')" routerLink="/amigos"> Agrega amigo</ion-button>-->
    </ion-card>
  </div>

</ion-content>