<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de {{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">
    <!-- Imagen de perfil -->
    <div class="centrar">
      <img class="imagen" [src]="foto || '/assets/icon/pato.jpg'" alt="Perfil">


      <!-- Nombre de usuario -->
      <h2 class="nombre">{{nombre}} {{rol1}}<!--({{tipos}})--></h2>
    </div>


    <!-- Información de contacto -->
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>{{correo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-label>+56{{telefono}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Descripción :
        </ion-label>

        <ion-label class="texto">
          {{descripcion}}
        </ion-label>
      </ion-item>

      <!--<ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>Soy estudiante de tercer año, estudio ingenieria en informatica, me gusta el deporte y ver animes, me especializo en programación web y bases de datos.</ion-label>
        </ion-item>-->
    </ion-list>

    <!-- Botones de acción -->
    <!--<ion-button expand="block" color="primary" (click)="presentToast('top')" routerLink="/amigos"> Agrega amigo</ion-button>-->
  </div>

</ion-content>