<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">Editar Tema</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="" [fullscreen]="true">


  <ion-card class="card centrar">

    <div *ngFor="let x of arregloUsuario">
      <ion-item class="fondo" lines="none" *ngIf="id === x.id_usuario">
        <ion-avatar class="">
          <img [src]="x.foto || '/assets/icon/perfil1.webp'" alt="Perfil">
        </ion-avatar>
        <ion-label class="nombre" placeholder="Nombre">{{x.nombre_usuario}}</ion-label>

      </ion-item>
    </div>

    <ion-item class="fondo">
      <ion-input maxLength="50" placeholder="Título" [(ngModel)]="tema1.titulo_tema"></ion-input>
    </ion-item>
    <ion-label color="danger">{{mensaje_1}}</ion-label>

    <ion-item class="fondo">

      <ion-label position="stacked">Descripción</ion-label>
      
      <ion-textarea class="tam" maxLength="250" [(ngModel)]="tema1.descripcion_tema" name="descripcion"
        placeholder="Escribe una breve descripción..." autoGrow="true">
      </ion-textarea>

      <ion-note class="contador-caracteres" position="stacked">{{250 - tema1.descripcion_tema.length}} caracteres restantes</ion-note>
    </ion-item>

    <ion-label color="danger">{{mensaje_2}}</ion-label>

    <ion-button class="boton" shape="round" (click)="presentActionSheet()">Agregar imagen</ion-button>
    <!--<p> Agregar Foto o Video</p>-->

    <!-- *ngIf="photoUrl"  Si hay un url valida lo muestra, sino, desaparece-->
    <ion-img [src]="photoUrl || tema1.foto_tema" class="btn">
      <p>Foto</p>
    </ion-img>
  </ion-card>


  <div class="btn">
    <ion-button (click)="irPagina()" class="boton">Publicar</ion-button>


    <ion-button class="boton" id="present-alert1">Eliminar</ion-button>
    <ion-alert trigger="present-alert1" class="custom-alert" header="¿Estás seguro?"
      [buttons]="alertButtons"></ion-alert>
  </div>

</ion-content>