<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  
  <ion-card class="fondo" [routerLink]="[('/menu-asignatura')]">
    <img class="imagen" alt="lenguaje" src="/assets/icon/python.jpg"/>
    <ion-card-header>
      <ion-card-title class="texto">Introducción a Python</ion-card-title>
      <ion-card-subtitle>Romina Riquelme</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen" alt="matematicas" src="/assets/icon/matematicas.webp"/>
    <ion-card-header>
      <ion-card-title class="texto">Excel nivel medio</ion-card-title>
      <ion-card-subtitle>Julian Mendez</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="fondo">
    <img class="imagen" alt="Python" src="/assets/icon/lenguaje.jpg"/>
    <ion-card-header>
      <ion-card-title class="texto">Tu primera entrevista laboral</ion-card-title>
      <ion-card-subtitle>Maria Becerra</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
</ion-content>

<app-footer></app-footer>

