.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

}

.footer{
    --background:rgba(182, 149, 192, 1);
    border-top: .2px #000000 solid;
    border-radius: 30px;
    margin-bottom: 1px;
}

.logo {
    font-weight: bold;
}

.imagen{
    height: 200px;
    width:auto;
}

.texto{
    font-weight: bold;
}

.fondo{
    --background: rgba(182, 149, 192, 20%);
}

.imagen2{
    height: 210px;
    width:auto;
}

