<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Nosotros</ion-title>
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-menu-button color="dark"></ion-menu-button>

    </ion-buttons>
    <img slot="end" src="/assets/icon/logo10.png" alt="logo" class="logo" routerLink="/menu">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="centrar ion-padding ion-content">
  
  


  <div class="container">
    <h1 class="texto">¿Qué es la app y para qué sirve?</h1>
    <p class="texto2">
      Comparte tus conocimientos y aprende junto a estudiantes de todas las
      carreras en Duoc UC. No importa cuál sea tu especialidad, aquí puedes
      contribuir y beneficiarte de la sabiduría colectiva de nuestra comunidad
      académica. ¡Juntos, hacemos que el aprendizaje sea más enriquecedor y
      accesible para todos!
    </p>
  </div>

  <div class="container">
    <h2 class="texto">Nuestro Propósito</h2>
    <p class="texto2">
      Nuestro objetivo es unir a todos los estudiantes para facilitar el
      apoyo mutuo en sus estudios. Creemos que el aprendizaje es más efectivo
      cuando se realiza en comunidad, por lo que hemos creado una plataforma donde
      los estudiantes pueden conectarse, colaborar y ayudarse unos a otros. Aquí,
      puedes encontrar y ofrecer ayuda en tareas, asignaturas y proyectos,
      compartir recursos y consejos, y formar parte de una red de apoyo que
      fomenta el éxito académico y personal. Juntos, logramos más.
    </p>
  </div>
  <div class="container">
    <p class="texto3">
      ¡Únete a
      nosotros y sé parte de esta comunidad que transforma el aprendizaje en una
      experiencia compartida y exitosa!
    </p>
  </div>
  
</ion-content>