.toolbar{
  --background:rgba(182, 149, 192, 1);
  border-bottom: .5px #000000 solid;

}

.footer{
  --background:rgba(182, 149, 192, 1);
  border-top: .2px #000000 solid;
  border-radius: 30px;
  margin-bottom: 1px;
}

.container{
  background-color: rgba(182, 149, 192, 40%);
  border-radius: 5%;
  border: 0rem #000000 solid;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.texto{
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

.texto2{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.texto3{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 6%;
  font-weight: bold;
}