.centrar{
    text-align: center;
}

.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

    
}

.ayuda{
    --background: rgba(182, 149, 192, 20%);
}

.ayuda2{
    background: rgba(182, 149, 192, 20%);
}






