<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background " [fullscreen]="true">
  <div>
    <div class="container ">

      <ion-title class="titulo">INICIAR SESIÓN</ion-title>

      <form (ngSubmit)="onSubmit()" action="">

        <ion-item class="fondo-form">
          <ion-input maxlength="50" [(ngModel)]="correo" name="text" class="texto" label="Correo" type="text"
            label-placement="floating" placeholder="" required></ion-input> <!--{{email}}--> 
        </ion-item>

        <ion-item class="fondo-form">
          <ion-input maxlength="25" minlength="8" [(ngModel)]="contrasena" name="contrasena" class="texto"
            label="Contraseña" type="password" label-placement="floating" placeholder=""
            required></ion-input><!--{{contras}}-->
        </ion-item>

        <ion-button class="boton" type="submit" (click)="irPagina()" shape="round">Iniciar Sesión</ion-button>
      </form>


      <p class="texto-sin">¿No tienes una cuenta? <a class="texto-con" href="" routerLink="/registrar">Registrate
          aqui</a> </p>
      <p class="texto-sin">o</p>
      <p class="texto-sin">¿Se te olvido la contraseña?<a class="texto-con" href="" routerLink="/recuperar-contrasena">
          Recuperar Contraseña</a></p>

    </div>
  </div>

</ion-content>