
  .center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form-container {
    width: 95%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: grey; /* Fondo blanco para el formulario */
  }
  
  .black-title {
    color: #333; /* Título negro */
  }
  
  ion-item {
    margin-bottom: 15px; /* Espaciado entre los ítems */
  }
  
  ion-button {
    margin-top: 20px; /* Espaciado arriba del botón */
  }
  