<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="success" [routerLink] = "[ '/home' ]">Ir al home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir al Agregar</ion-button>
  
</ion-content>
