<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">Publicar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="" [fullscreen]="true">


  <ion-card class="card centrar">
    <div *ngFor="let x of arregloUsuario">
      <ion-item class="fondo" lines="none" *ngIf="id === x.id_usuario">
        <ion-avatar class="">
          <img [src]="x.foto || '/assets/icon/pato.jpg'" alt="Perfil">
        </ion-avatar>
        <ion-label class="nombre" placeholder="Nombre">{{x.nombre_usuario}}</ion-label>

      </ion-item>
    </div>
    <ion-item class="fondo">
      <ion-input maxLength="50" placeholder="Título" [(ngModel)]="titulo_publi"></ion-input>
    </ion-item>
    <ion-label color="danger">{{mensaje_1}}</ion-label>

    <ion-item class="fondo">

      <ion-label position="stacked">Descripción</ion-label>

      <ion-textarea class="tam" maxLength="250" [(ngModel)]="descripcion_publi" name="descripcion"
        placeholder="Escribe una breve descripción..." autoGrow="true">
      </ion-textarea>

      <ion-note class="contador-caracteres">{{250 - descripcion_publi.length}} caracteres restantes</ion-note>

    </ion-item>
    <ion-label color="danger">{{mensaje_2}}</ion-label>

    <ion-button class="boton" shape="round" (click)="presentActionSheet()">Agregar imagen</ion-button>
    <!--<p> Agregar Foto o Video</p>-->
    <!--<ion-label color="danger">{{mensaje_3}}</ion-label>-->
    <!-- *ngIf="photoUrl"  Si hay un url valida lo muestra, sino, desaparece-->
    <ion-img *ngIf="photoUrl" [src]="photoUrl" class="btn"></ion-img>
  </ion-card>


  <div class="btn">
    <ion-button (click)="irPagina()" class="boton">Publicar</ion-button>


    <ion-button class="boton" (click)="irPubli()">Mis Publicaciones</ion-button>
  </div>

</ion-content>