<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="background center-div">
    <div class="container">
      
      <form class="form-container">
        <ion-title class="titulo">Reestablecer Contraseña</ion-title>
      
        <ion-item class="fondo-form">
          <ion-input maxlength="320" class="texto" [(ngModel)]="correo" type="email" name="correo" label-placement="floating" label="Correo" required></ion-input>
        </ion-item>
      
        <!-- Mensaje de error para correo -->
        <ion-label class="mensaje-error" *ngIf="mensaje_1">{{ mensaje_1 }}</ion-label>
      
        <ion-note color="medium" class="instrucciones">
          Se le enviará un correo electrónico con un código para restablecer su contraseña.
        </ion-note>
      
        <ion-button expand="block" (click)="recuperarContrasena1()" shape="round" class="boton">
          Recuperar Contraseña
        </ion-button>
      </form>
      
  
      <p class="texto-sin">Volver al <a class="texto-con" href="" routerLink="/login">Iniciar Sesión</a> </p>
    
    </div> 
  </div>
</ion-content>
