<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <!-- Imagen de perfil -->
    <div class="centrar">
      <img class="imagen" src="assets/icon/pato.jpg" alt="Perfil">
      
  
      <!-- Nombre de usuario -->
      <h2 class="nombre">{{nombre}} ({{tip}})</h2>
    </div>
    

    <!-- Información de contacto -->
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <p>{{correo}}</p> <!--[(ngModel)]="correo"-->
      </ion-item>

      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <p>+56 {{telefono}}<p>
      </ion-item>

      <ion-item>
        <ion-icon name="book" slot="start"></ion-icon>
        <p>{{descripcion}}<p>
      </ion-item>
    </ion-list>

    <!-- Botones de acción -->
    <ion-button expand="block" routerLink="/editar-perfil" color="primary" >
      Editar Perfil
    </ion-button>
    <ion-button expand="block" id="present-alert3" color="danger">Cerrar Sesión</ion-button>
    <ion-alert trigger="present-alert3" class="custom-alert" header="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿Estás seguro de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cerrar Sesión?" [buttons]="alertButtons"></ion-alert>  
    
  </div>
</ion-content>


 <app-footer></app-footer>