.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

}

.footer{
    --background:rgba(182, 149, 192, 1);
    border-top: .2px #000000 solid;
    border-radius: 30px;
    margin-bottom: 1px;
}

.nombre{
  font-size: x-large;
}

.fondo{
  --background: rgba(182, 149, 192, 0%);
}

.centrar{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.btn{
  --background:  rgba(182, 149, 192, 1);
}

.imagen{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px #000000 solid;
}

.texto{
  margin-left: 1px;
}

.card {
  background-color: rgba(182, 149, 192, 20%);
  padding: 16px;
  border-radius: 15px;
  
}

.boton{

  --background:  rgba(182, 149, 192, 1);
  color: #ffffff;
  font-family: "impact";
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  margin-bottom: 7%;

}

.centrar{
  text-align: center;
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }