<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tutores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutores</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer class="footer">
  <ion-tab-bar slot="bottom" class="footer">
    <ion-tab-button tab="home" [routerLink]="'/menu'">
      <ion-icon color="dark" name="home"></ion-icon>
      <!--<ion-label color="logo">Publicación</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="ramos" [routerLink]="'/asignaturas'">
      <ion-icon color="dark" name="library"></ion-icon>
      <!--<ion-label class="logo">Ramos</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="publicar" [routerLink]="'/publicar'">
      <ion-icon color="dark" name="add-circle-sharp"></ion-icon>
      <!--<ion-label class="logo">Publicar</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tutores" [routerLink]="'/tutores'">
      <ion-icon  color="dark" name="body-sharp"></ion-icon>
      <!--<ion-label  class="logo">Tutores</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="'/perfil'">
      <ion-icon  color="dark" name="person-sharp"></ion-icon>
      <!--<ion-label class="logo">Perfil</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
