.toolbar{
    --background:rgba(182, 149, 192, 1);
    border-bottom: .5px #000000 solid;

}

.footer{
    --background:rgba(182, 149, 192, 1);
    border-top: .2px #000000 solid;
    border-radius: 30px;
    margin-bottom: 1px;
}

.logo {
    font-weight: bold;
}
ion-card.accordion-content {
    margin: 0 16px 16px 16px;
    --background: #f0f0f0;
  }
  
  ion-item {
    cursor: pointer;
    --padding-start: 16px;
    --inner-padding-end: 16px;
  }
  
  ion-icon {
    font-size: 24px;
  }
  