<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <!-- Itera sobre los elementos de la lista -->
    <ion-item *ngFor="let item of items" (click)="togglePanel(item)">

      <ion-label >
        <ion-label class="accordion-content">{{ item.name }}</ion-label>
        <ion-label *ngIf="isExpanded(item)" class="accordion-content">{{ item.phone }}</ion-label>
        <ion-label *ngIf="isExpanded(item)" class="accordion-content">Email: {{ item.email }}</ion-label>
        <ion-button *ngIf="isExpanded(item)" routerLink="/perfil">ir perfil</ion-button>
      </ion-label>
      
      <ion-icon 
        name="chevron-down" 
        slot="end" 
        *ngIf="!isExpanded(item)">
      </ion-icon>
      
      <ion-icon 
        name="chevron-up" 
        slot="end" 
        *ngIf="isExpanded(item)">
      </ion-icon>
    </ion-item>

    <!-- Infinite Scroll -->
    <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>-->

  </ion-list>
</ion-content>


 <app-footer></app-footer>