<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <!--slot="start" Es la para la izquierda-->
      <!--slot="end" Es la para la derecha-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <!-- Itera sobre los elementos de la lista -->
     
    <ion-item *ngFor="let item of items" (click)="togglePanel(item)">

      <ion-label >
        <ion-label class="accordion-content">{{ item.name }}</ion-label>
        <ion-label *ngIf="isExpanded(item)" class="accordion-content">{{ item.phone }}</ion-label>
        <ion-label *ngIf="isExpanded(item)" class="accordion-content">Email: {{ item.email }}</ion-label>
        <ion-button *ngIf="isExpanded(item)" routerLink="/perfil">ir perfil</ion-button>
      </ion-label>
      
      <ion-icon 
        name="chevron-down" 
        slot="end" 
        *ngIf="!isExpanded(item)">
      </ion-icon>
      
      <ion-icon 
        name="chevron-up" 
        slot="end" 
        *ngIf="isExpanded(item)">
      </ion-icon>
    </ion-item>

    <!-- Infinite Scroll -->
    <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>-->

  </ion-list>
</ion-content>




<ion-footer class="footer">
  <ion-tab-bar slot="bottom" class="footer">
    <ion-tab-button tab="home" [routerLink]="'/menu'">
      <ion-icon color="dark" name="home"></ion-icon>
      <!--<ion-label color="logo">Publicación</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="ramos" [routerLink]="'/asignaturas'">
      <ion-icon color="dark" name="library"></ion-icon>
      <!--<ion-label class="logo">Ramos</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="publicar" [routerLink]="'/publicar'">
      <ion-icon color="dark" name="add-circle-sharp"></ion-icon>
      <!--<ion-label class="logo">Publicar</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tutores" [routerLink]="'/tutores'">
      <ion-icon  color="dark" name="body-sharp"></ion-icon>
      <!--<ion-label  class="logo">Tutores</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="perfil" [routerLink]="'/perfil'">
      <ion-icon  color="dark" name="person-sharp"></ion-icon>
      <!--<ion-label class="logo">Perfil</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>