<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="">Mis Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="container" *ngFor="let x of arregloPublicacion">
    <ion-card-header>
      <div class="unir">
        <img class="maria" src="/assets/icon/maria.webp" alt="maria">
        <p class="nombre">Maria Torres</p>
      </div>
      <hr>
    </ion-card-header>

    <ion-card-title class="texto">{{ x.titulo_publi }}</ion-card-title>

    <ion-card-content>
      <img [src]="x.foto_publi" alt="Perfil"/> <!--*ngIf="x.foto_publi; else defaultImage"-->

      <!--<ng-template #defaultImage>
        <img src="/assets/icon/pato.jpg" alt="Imagen predeterminada">
      </ng-template>-->
      <br>
      <hr>
      <ion-label style="word-wrap: break-word; white-space: normal;">{{ x.descripcion_publi }}</ion-label>

    </ion-card-content>

    <hr>
    <div class="unir2" >

      <ion-button class="boton" (click)="eliminar(x)">
        <ion-icon slot="icon-only" name="trash" ></ion-icon>
      </ion-button>

      <ion-button class="boton" (click)="modificar(x)">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </div>

  </ion-card>
</ion-content>