<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title class="">Mis Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card  class="container">
    <ion-card-header>
      <div class="unir">
        <img class="maria" src="/assets/icon/maria.webp" alt="maria" >
        <p class="nombre">Maria Torres</p>
      </div>
      <hr>
    </ion-card-header>
    <ion-card-title class="texto">Necesito ayuda con mi tarea de nivelación de matematicas</ion-card-title>
    <hr>
    <div class="unir2">
      <ion-button class="boton"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
      <ion-button class="boton" (click)="irPagina()"><ion-icon slot="icon-only" name="pencil"></ion-icon></ion-button>
    </div>
    
  </ion-card> 
</ion-content>

