<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>


  <ion-card class="container" *ngFor="let x of arregloUsuario">
    <ion-card-header>
      <div class="unir">
        <img class="maria" [src]="x.foto || '/assets/icon/pato.jpg'" alt="No tiene foto de perfil">
        <p class="nombre">{{ x.nombre_usuario }}</p>
      </div>
      <hr>
    </ion-card-header>
    
    <p class="texto">
      Tipo de usuario: {{ x.rol_id_rol === 1 ? 'Tutor' : 'Aprendiz' }}
    </p>
    
    <p class="texto"> Email: {{ x.correo_usuario }}</p>
    <div class="centrarB">
      <ion-button class="verMas" (click)="ir()">Ir al perfil</ion-button>
    </div>
    
  </ion-card>

</ion-content>

<app-footer-tutor></app-footer-tutor>