<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="toolbar">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title></ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="arriba" animated="true" placeholder="Buscar"></ion-searchbar>

  <div class="botones" *ngFor="let y of arregloUsuario">
    <ion-button *ngIf="rol === 1 && id === y.id_usuario" id="Aprendices" class="boton" (click)="irPubli()">NUEVO
      TEMA</ion-button>
    <ion-button *ngIf="rol === 1 && id === y.id_usuario" id="Amigos" class="boton"
      (click)="irLista()">PARTICIPANTES</ion-button>
  </div>

  <ion-card class="container" *ngFor="let x of arregloTema">
    <div>

      <div *ngIf="id_curs === x.curso_id_curso">
        <ion-card-header (click)="irPagina()">

          <div class="unir" *ngFor="let y of arregloUsuario">
            <img *ngIf="id_curs === x.curso_id_curso && y.id_usuario === curso1.usuario_id_usuario" class="maria"
              [src]="y.foto || '/assets/icon/maria.webp'" alt="maria">
            <p *ngIf="id_curs === x.curso_id_curso && y.id_usuario === curso1.usuario_id_usuario" class="nombre">
              {{y.nombre_usuario}}</p>

          </div>
          <hr>
        </ion-card-header>
        <p class="materia">{{x.fecha_tema}}</p>
        <ion-card-title class="texto">{{x.titulo_tema}}</ion-card-title>
        <div class="centrar">
          <img class="tarea" [src]="x.foto_tema || '/assets/icon/python.jpg'" alt="informe">
        </div>
        <hr>

        <ion-card-content class="descripcion">
          {{x.descripcion_tema}}
        </ion-card-content>

        <div *ngFor="let y of arregloUsuario">
          <div class="unir2" *ngIf="rol === 1 && id === y.id_usuario">
            <ion-button class="boton2" (click)="eliminar(x)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            <ion-button class="boton2" (click)="modificar(x)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

  </ion-card>
</ion-content>