<ion-header [translucent]="true" class="fondo">
  <ion-toolbar class="toolbar">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Materia : Python</ion-title>
    
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar class="arriba" animated="true" placeholder="Buscar"></ion-searchbar>

  <ion-card class="container">
    <ion-card-header (click)="irPagina()">
      
      <div class="unir">
        <img class="maria" src="/assets/icon/maria.webp" alt="maria" >
        <p class="nombre">{{nombre}}</p>
        <p class="materia">Python</p>
      </div>
      <hr>
    </ion-card-header>
    <ion-card-title class="texto">Introduccion a Python</ion-card-title>
    <div class="centrar">
      <img class="tarea" src="/assets/icon/python.jpg" alt="informe">
    </div>
    <hr>
    
    <ion-card-content class="descripcion">
      Hola a todos, el dia sabado 6 de septiembre estare realizando una tutoria
      sobre python basico, les dejo mis redes sociales y el link de la reunión.
    </ion-card-content>
    <p class="separar">Instagram: &#64;Ro_Riquelme</p>
    <p class="separar">WhatsApp: {{telefono}}</p>
    <p class="separar">Correo: {{correo}}</p>
    <p class="separar" lines="none">Link: https://discord.com/Ro_Riquelme</p>
  </ion-card>

</ion-content>



