//--background:rgba(182, 149, 192, 1);

.fondo{
  --background:rgba(182, 149, 192, 1);
}

.centrar{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}

.login-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



ion-button{

  --background: rgba(255, 255, 255);
  color: rgba(182, 149, 192, 1);
  font-family: "impact";
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  margin-bottom: 7%;

}

.texto-sin{
  color: #ffffff;
  text-align: center;
  font-size: small;
  height: 0.1cm;
  font-family: "Segoe UI";
}

.texto-con{
  color: rgb(0, 0, 0);
  font-size: small;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: bold;
}

