<ion-content fullscreen class="fondo">
  <div class="login-container">
    <div class="content">
      <img src="assets/icon/logo123.png" alt="Logo2" style="width: 280px; height: auto;">

      <h1 class="centrar ">TaskApp</h1>
      <p class="tamaño" style="word-wrap: break-word; white-space: normal;">¡Tu comunidad de apoyo para resolver cualquier tarea!</p>
      

      
      <ion-button expand="block" class="boton" type="submit" shape="round" routerLink="/login">Iniciar Sesión</ion-button>
      
      <p class="texto-sin">¿No tienes una cuenta? <a class="texto-con" href="" routerLink="/registrar">Registrate
        aqui</a> </p>
    </div>
  </div>
</ion-content>






