<ion-content fullscreen>
  <div class="login-container">
    <div class="background"></div>
    <div class="content">
      <div class="logo">
        <img src="assets/icon/buo.png" alt="Logo2" style="width: 280px; height: auto;">

      </div>

      <ion-button expand="block" color="danger" class="login-button"  routerLink = "/login">Iniciar Sesión</ion-button>

      <ion-text color="dark" class="signup-text">
        ¿No tienes una cuenta? <a href="#" class="signup-link" routerLink="/registrar">Registrarse</a>
      </ion-text>
    </div>
  </div>
</ion-content>






