<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Seguidores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>


  <ion-card class="container" *ngFor="let x of arregloUsuario">
    <div *ngFor="let l of arregloLista">
      <ion-card-header *ngIf="l.usuario_id_usuario === x.id_usuario && l.curso_id_curso === curso1.id_curso">
        <div class="unir">
          <img class="maria" [src]="x.foto || '/assets/icon/perfil1.webp'" alt="No tiene foto de perfil ">
          <p class="nombre">{{ x.nombre_usuario }}</p>
        </div>
      </ion-card-header>
    </div>
    
    
  </ion-card>

</ion-content>
